<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

    * {
        padding: 0%;
        margin: 0%;
    }

    .navigation {
        padding: 5px;
        background-color: hsla(0, 0%, 100%, .85);

        /* align-items: center; */
    }

    .main-nav {
        display: flex;
    }

    .logo {
        margin-left: 10px;
    }

    .logo img {
        width: 78px;
        height: 68px;
    }

    a{
        text-decoration: none;
    }
    .nav-a a {
        color: #565a81;
        font-size: 20px;
        text-decoration: none;
        padding: 0px 20px 0px;
        font-weight: bold;
        font-family: "Noto Sans Thai", sans-serif;
    }

    .nav-a {
        margin-left: 20px;
    }

    .nav_link_1 {
        margin-right: 1%;
        margin-left: 51%;
        background-color: #00000021;

        a {
            color: #ffffff;
        }


        height: 35px;
        width: auto;

        text-align: center;

        p:hover {
            color: red;
        }

    }

    .nav_link_1 p {
        width: 100%;
    }

    .nav_link_2 {
        background-color: #00000021;
        border: 1px solid rgba(0, 0, 0, 0.185);
        height: 35px;
        width: auto;

        text-align: center;

        a {
            color: #ffffff;

            p:hover {
                color: red;
            }
        }
    }
</style>

<body>
    <div class="navigation">
        <div class="main-nav" style=" align-items: center; ">
            <div class="logo">
                <img src="https://nxm-clw-cdn.dn.nexoncdn.co.kr/bluearchive/img/events/2024/03/festival_3okew9/bi.png"
                    alt="">
            </div>
            <div class="nav-a">
                <a style="color: #4aa2f5;" href="/">Home</a>
                <a href=""> News</a>
                <a href="">รายการ</a>
                <a href="">โรงเรียน</a>
            </div>

            <div class="nav_link_1" style="display: flex; ">
                <div class="" style=" border: 1px solid rgba(0, 0, 0, 0.185);">
                    <a href="https://www.youtube.com/watch?v=W8ghAhwLars&list=RDGMEMXdNDEg4wQ96My0DhjI-cIg&start_radio=1&rv=sAuEeM_6zpk"
                        target="_blank">
                        <p style="padding: 5px;">youtube</p>
                    </a>

                </div>
                <div class="" style=" border: 1px solid rgba(0, 0, 0, 0.185);">
                    <a href="https://www.youtube.com/watch?v=W8ghAhwLars&list=RDGMEMXdNDEg4wQ96My0DhjI-cIg&start_radio=1&rv=sAuEeM_6zpk"
                        target="_blank">
                        <p style="padding: 5px;">Facebook</p>
                    </a>
                </div>
            </div>
            <div class="nav_link_2">
                <a href="https://www.youtube.com/watch?v=W8ghAhwLars&list=RDGMEMXdNDEg4wQ96My0DhjI-cIg&start_radio=1&rv=sAuEeM_6zpk"
                    target="_blank">
                    <p style="padding: 5px;">Community</p>
                </a>
            </div>
            <div class="profile"
                style="margin-left: 25px; border: 1px solid black; border-radius: 10px; padding: 10px;">
                Profile
            </div>
        </div>
    </div>
</body>

</html>